
*
{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

    box-sizing: border-box;
}
.admin-container {
    display: flex;
  flex-direction: column;
    justify-content: center;
   margin: 0;
    background-color: #fafafa;
    height:fit-content;
    overflow: scroll;    
    flex-direction: row; 
   
  }

.side-bar-div{
    margin-right: 1em;
}
.feedback-container{
    background-color: #fafafa   ;
     margin-top: 1em;
     margin-bottom: 1em;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    /* margin-top: 1em; */
  
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    /* margin-bottom: 1em; */
    margin-left: 3em;
    border-radius: .3em;
    box-shadow: 1px 1px 3px #878787; 
    overflow-x: hidden;
}
.main-div{
    /* background-color: rgb(77, 176, 11); */
    height: fit-content;
}


#feedback-stats-head{
    
        background-color: #577590;
        color: white;
        width: fit-content;
        height: fit-content;
        font-weight: 500;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin: 1.5em;
        border-radius: .2em;
        font-size: 1rem;
    

}  
.name {
    margin-top: 1em;
    text-align: center;
    margin-right: 1em;
    font-weight: 500;
}
.info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
}

.name{
    /* background-color: #ffcc00; */
    /* width: fit-content; */
    display: flex;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}
.main-div{
    margin-left: 2em;
    width: 50em;
}
.feedback-header{
    border-radius: 4px;
   color: white;
    height: max-content;
    box-shadow: 1px 1px 3px #878787; 
    background-color: #577590;
    width: 100%;
    display: grid;
    grid-template-columns: .3fr 1fr .4fr;
    padding: .5em;
    font-weight: 500;
   
}

.header-option{
    /* background-color: aqua; */
    font-size: 1rem;
    font-weight: 700;
    color: #272727;
    margin-left: 1em;
}

#feedback-category{
    /* background-color: #ffcc00; */
    color: white;
    width: 100%;
}
#desciption-category{
    /* background-color: blue; */
    color: white;

    width: 130%;
}
#category{
}
#fedback-desc{
    width: 140%;
    font-size: 1rem;
}
.report-detail{
    /* background-color: #ffcc00; */
    display: grid;
    grid-template-columns: .3fr 1fr .4fr;
    padding: .5em;
}
.avatar{
    height: 6em;
    border-radius: 3em;
}
.feedback1{
    margin-top: 2em;
        box-shadow: 1px 1px 3px #878787; 
        margin-left: 1em;
        padding: 1em;
        border-radius: 4px;
        width: 97%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #fafafa;
    } 
    .deatils{
        background-color: #fafafa;
        box-shadow: 2px 1px 5px #878787; 
display: flex;

align-items: center;
        margin-top: 1em;
        border-radius: 4px;
        display: grid;
        grid-template-columns: .3fr 1fr .5fr;
        padding: .5em;
        /* border: 1px solid black; */
        
    }

    #category{
        font-weight: bold;
        font-size: 1rem;
    }
    .detals-option{
       display: flex;
       justify-content: space-between   ;
       align-items: center;
       font-size: .7rem;
        padding-left: 1rem;
       /* background-color: #d4d3d3; */
    }


    .header-option{
        /* border: 1px solid black; */
    }

    #status-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: #dd00ff; */
        /* width: 5rem; */
        /* align-items: start; */
        /* justify-content: space-evenly; */
        /* padding-left: 2rem; */
    }
    #view-btn{
        background-color: #272727;
        padding-left: .5rem;
        padding-right: .5rem;
        margin-top: .3rem;
        color: wheat;
        border-radius: .3rem;
    }
    .button{
        /* background-color: #d5ca9e; */
     
        padding-top: .3em;
        padding-bottom: .4em;
        padding-left: .5em;
        padding-right: .5em;
        border-radius: .2em;
       font-weight: 500;
        width: fit-content;
        color: white;
        font-size: .8rem;
    }
    #accept{
        background-color: rgb(1, 147, 1);

        /* margin-right: 3rem; */

    }
    #decline{
        margin-right: 2rem;
        background-color: red;

    }

  