@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: ce   nter; */
  font-size: 16px;
}

/* .full-div{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
} */
.admin-container {
  display: flex;
  flex-direction: column;

  /* background-color: rgb(212, 0, 0); */
  height: fit-content;

  overflow: scroll;
  flex-direction: row;
}

/*******************************************8 DASHBOARD */




.dashbooard-container {
  width: 80em;
height: fit-content;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.3em;
  box-shadow: 1px 1px 5px #878787;
  display: flex;
  flex-direction: column;

}


#statss{
  background-color: #577590;
  width: fit-content;
  height: fit-content;
  font-weight: 500;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 1.5em;
  border-radius: .2em;
  font-size: 1rem;
  color: white;
}
.upper-portion {
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 1px 1px 5px #878787;  */
  /* margin-left: 2em; */
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  /* background-color: rebeccapurple; */
  /* background-color: #fafafa; */
  flex: 1;
}

.upper1{
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  
  justify-content: space-evenly;
  flex:1;
  /* padding-left: 2em; */
}
.upper2{
  display: flex;
  flex:0.2;
}
.admin-upper-card {
  background-color: #577590;
  color: white;
  height: 7em;
  width: 12em;
  border-radius: 0.3em;
  box-shadow: 1px 1px 5px #878787;
}
.icon{
    font-size: 5rem;
    padding: .3em;
    /* background-color: aqua; */
}
.card-inside-content {
  /* margin-top: 2.4em; */
  font-size: .9rem;
  font-weight: bold;
  margin-left: 0.6em;
}

.card-inside-head {
  margin-top: -0.3em;
  font-size: 1rem;
  margin-left: 0.5em;
 
}
.lower-portion {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* overflow: scroll; */
  box-shadow: 1px 1px 5px #878787;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}


.lower1{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* background-color: aqua; */
  margin-top: 2em;

}


.piecharts{
  background-color: #fafafa;
  box-shadow: 1px 1px 5px #c6c6c6;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin-top: 3%;
  margin-bottom: 5%;

  padding-top: 3%;
  padding-bottom: 3%;

}

.graph1 {
display: flex;
flex-direction: column;
align-items: center;
}
.div1{
  display: flex;
  flex-direction: column;
  align-items: center;
}



h3{
  background-color: #f5efef;
  font-style: normal;
  padding: .9em;
  border-radius: .7em;

}
  

#feedback-graph{

  display: flex ;
  flex-direction: row;
  justify-content: center;
  /* background-color: #8884d8; */
  align-items: end;
  padding-bottom: -1em;
  width: 20em;


}

.review-div{
  background-color: #f5efef;
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  flex-direction: column;
  padding: 1em;
  border-radius: .7em;
  margin-bottom: 4em;

}
.div2 {
  height: 10em;

}

